<div class="row">
  <div class="col-md-6">
    <h2> <small>Summary</small></h2>
    <h4>Total pages: <strong>{{sumPages}}</strong>, books: {{booksCount}}</h4>
    <p>
      Average: {{avgPages}} pages / book
    </p>
  </div>
</div>
