<h2 id="newBook">New Book</h2>
<form>
  <div class="form-group">
    <label for="titleInput">Title</label>
    {{input value=title placeholder="Title" class="form-control" id="titleInput"}}
  </div>
  <div class="form-group">
    <label for="authorInput">Author</label>
    {{input value=author placeholder="Author" class="form-control" id="authorInput"}}
  </div>
  <div class="form-group">
    <label for="pagesInput">Pages</label>
    {{input value=pages placeholder="Number of pages" class="form-control" id="pagesInput"}}
  </div>
  <button {{action "saveBook"}} class="btn btn-default">Save</button>
</form>
